<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--Aqui se esta agrega las etiquetas de thymeleaf para hacer una web dinamica-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <div th:if="${personas != null and !personas.empty}"> 
            <table style="border: 1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>  
                </tr>
                <!--Con el each podemos iterar todos los elementos dentro de nuestra lista personas-->
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista esta vacia
        </div>
    </body>
</html>
